<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FilesDir" value="files" />
    <add key="LogPath" value="logs" />
    <add key="LogFileFormat" value="\{0:yyyy-MM-dd HH-mm-ss}.txt" />
  </appSettings>

  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="libs"/>
    </assemblyBinding>
  </runtime>
</configuration>